---
import Layout from "@/layouts/Layout.astro";

// components
import SectionTitle from "@/components/common/SectionTitle.astro";
import PostCard from "@/components/blog/PostCard.astro";
import LetterGlitch from "@/components/effects/LetterGlitch";
import SkillsList from "@/components/effects/SKillsList";
import LogoWall from "@/components/effects/LogoWall.astro";

const technologies = [
  "astro",
  "react",
  "typescript",
  "tailwindcss",
  "nodejs",
  "bun",
  "rust",
  "deno",
  "linux",
  "arch",
  "nextjs",
];
---

<Layout>
  <div class="wrapper space-y-6">
    <SectionTitle title="Latest" highlight="Posts" url="/blog" />

    <PostCard
      title="How to Build a Blog with Astro"
      description="Learn how to build a blog with Astro, a new static site generator."
      pubDate="2021-10-01"
      url="how-to-build-a-blog-with-astro"
      tags={["astro", "bun", "oss"]}
    />

    <LogoWall technologies={technologies} />

    <SkillsList />

    <LetterGlitch
      client:load
      glitchColors={["#5e4491", "#A476FF", "#241a38"]}
      glitchSpeed={33}
      centerVignette={false}
      outerVignette={true}
      smooth={true}
    />
  </div>
</Layout>
