---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

export interface Props {
  class?: string;
}
const { class: extraClasses = "" } = Astro.props as Props;
---

<button
  id="changeDir"
  class={cn(
    "flex items-center gap-1 p-3 bg-transparent cursor-pointer text-foreground hover:text-primary transition-colors duration-200 group",
    extraClasses,
  )}
  aria-label="Change Directory"
  onclick="window.history.back()"
>
  <Icon name="solar:alt-arrow-left-linear" size={16} />
  <span class="relative tracking-wider">
    cd ..
    <span
      class="absolute bottom-0 left-0 w-full h-px bg-primary opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    ></span>
  </span>
</button>
